{% extends 'base.html' %}
{% load staticfiles %}

{% block main_content %}
    <hr/>

    你是第{{ count }}名参与测试的人

    <hr/>
    下面是根据您所选择的歌曲进行的推荐
    <table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>推荐音乐</th>
    </tr>
    {% for music in recommend_music %}
    <thread>
    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ music }}</th>
    </tr>
    </thread>
    {% endfor %}
    </thead>
    </table>

    <hr/>

    下面是根据用户画像进行的推荐

    <table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>推荐音乐</th>
          <th>可能的链接</th>
        </tr>
      </thead>

    {% for music,url in user_graph_recommend.items %}
    <thread>
    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ music }}</th>
        <th><a href="{{ url }}">点击试听</a></th>
    </tr>
    </thread>
    {% endfor %}
    </table>

    <hr/>

    下面是根据 上下文+相关情景 进行的推荐

    <table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>推荐音乐</th>
          <th>可能的链接</th>
        </tr>
      </thead>

    {% for music,url in user_type_recommend.items %}
    <thread>
    <tr>
        <th>{{ forloop.counter }}</th>
        <th>{{ music }}</th>
        <th><a href="{{ url }}">点击试听</a></th>
    </tr>
    </thread>
    {% endfor %}
    </table>


<form method="POST" role="form">
{% csrf_token %}
    您对这次的推荐结果是否满意：<br>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="1">一星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="2">二星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="3">三星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="4">四星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="5">五星</label>
    <label class="radio-inline"><input type="radio" name="satisfy_rate" value="0">完全不符合期望</label>

    <hr/>

    您对这次的推荐结果新鲜度是否满意:<br>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="1">一星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="2">二星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="3">三星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="4">四星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="5">五星</label>
    <label class="radio-inline"><input type="radio" name="fresh_rate" value="0">完全不符合期望</label>

<br>
<button type="submit" class="btn btn-success" value="登陆">

    提交

</button>
</form>
{% endblock %}